<<<<<<< HEAD
h3,
h4 {
    color: rgb(22, 22, 22);

}

p {
    text-transform: capitalize;
}
body{
    visibility: hidden;
}
#sidenavdocs a {
    color: rgb(27, 27, 27) !important;
    text-transform: capitalize;
}

#sidenavdocs a:hover {
    text-decoration: underline;
=======
h3,
h4 {
    color: rgb(22, 22, 22);

}

p {
    text-transform: capitalize;
}
body{
    visibility: hidden;
}
#sidenavdocs a {
    color: rgb(27, 27, 27) !important;
    text-transform: capitalize;
}

#sidenavdocs a:hover {
    text-decoration: underline;
>>>>>>> c5efcf90365f4729bb9a298f5099f5eabf99d58e
}